header{
  margin: 0;
}

.nav {
  font-family: 'Source Sans Pro',arial,sans-serif;
}

.navbar{
  border: none;
  height: 66px;
}




@media (max-width: 1100px){
    .search{
        position: absolute;
        top: 10px;
        left: 60px;
    }
}

@media (min-width: 1100px){
        .search{
        position: absolute;
        top: 8px;
        left: 860px;
    }
}

@media (min-width: 1300px){
        .search{
        position: absolute;
        top: 8px;
        left: 1060px;
    }
}

.navbar-brand   {
  background: url(https://g.europe.newsweek.com/www/img/redesign/sprite.png) -3px -49px no-repeat #ff0500;
  text-indent: -9999px;
  position: relative;
  width: 55px;
  height: 66px;
  border: none;
  top: -8px;
}

.navbar-brand:hover {
      background-color: red !important;
    }

.navbar-header > button {
  float: right;
}

.sing_in>a{
  color: #fff !important;

}

.sing_in>a:hover{
  color: red !important;
  background-color: #ddd !important;
}

#sign  {
  display: none;
}

.glyphicon-user{
  padding: 3px 0;
  display: block;
}


.menu{
  background: black;
  padding: 8px 0;
}

.nav > li > a {
    text-transform: uppercase;
    font-weight:bolder;
    font-size: 14px;
    padding: 18px 12.8px;
    
}

.navbar-nav > li > a:hover{
  border-bottom: 2px solid #d42819;
}

.navbar-inverse .navbar-nav> .subscrabe > a {
  color: yellow;
}


.navbar-right {
  position: absolute;;
  top: 8px;
  right: 16px;
}


@media (max-width: 1100px)  {
  .navbar-left {
       display: none !important;
   }

   .navbar-right {
     position: absolute;;
     top: 8px;
     right: 80px;
   }

   .navbar-right > ul > li {
       float: left;
   }

    .navbar-toggle {
    position: absolute;
    display: block;
    right: 0px;
    top: 10px;
  }
    
}




@media (max-width: 1100px) {

    .navbar-nav-right{
        
        position: relative;
        top: 57px;
    }
}
    

@media (min-width: 1300px){
  .navbar-brand {
    background: url('https://g.europe.newsweek.com/www/img/redesign/sprite.png?v=1.0.0')
     0 5px no-repeat red;
    width: 230px;
  }
  #sign  {
    display: block;
  }
  .glyphicon-user{
    display: none;
  }
}
